@import "variables";
@import "mixins";

body {
  font-family: $font-main;
  background-color: $gray-light;
  padding: 2rem;
  @include flex-center();
  overflow-x: hidden;
}

.checkout-container {
  background-color: white;
  padding: 2rem;
  border-radius: $radius;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  margin: 2rem auto;
  transition: all 0.2s ease;

  @media (max-width: 768px) {
    padding: 1.5rem;
    margin: 1.5rem auto;
  }

  @media (max-width: 480px) {
    padding: 1rem;
    margin: 1rem auto;
  }
}

h1 {
  text-align: center;
  font-family: $font-brand;
  margin-bottom: 1.5rem;
}
.cart-item {
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  background-color: $gray-border;
  border-radius: $radius;
  @include font(0.8rem, 0.9rem, 1.1rem);
  font-family: $font-main;
  @include flex-between();
}

.cart-item::before {
  content: "";
}

.total {
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: right;
  font-size: 1.1rem;
  color: $gray-dark;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    @include input-style;
    font-size: 1rem;
    width: 96%;
  }

  .pay-btn {
    @include button-style();
    padding: 0.75rem;
    font-size: 1rem;
    width: 100%;
  }
}

.payment-method {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

  select {
    @include input-style;
    font-size: 1rem;
    background-color: $primary-hover;
    color: white;
    border: none;
    padding: 0.6rem;
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  input {
    @include input-style;
  }
  &.hidden {
    display: none;
  }
}
