$primary: #4a6ea9;
$primary-hover: rgba(86, 125, 187, 0.9);
$gray-light: #fffcfa;
$gray-dark: #374151;
$gray-border: #e5e7eb;
$gray_500: #6b7280;
$gray_900: #111827;

$transition: 0.2s ease;
$radius: 0.5rem;

$font-main: "Inter", sans-serif;
$font-brand: "Pacifico";